.container {
    display: grid;
    grid-template-columns: repeat(25%, 4);
    grid-gap: 1em;
    margin-left: 10%;
    margin-right: 10%;
}

.post, .post-comments {
    background-color: rgba(55, 55, 55, 0.25);
    border-radius: 10%;
    padding: 0.5em;
}

.post:hover {
    background-color: black;
    color: white;
}

.post-comments {
    max-height: 500px;
    overflow: auto;
}